<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.udesk.multimerchant">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity
            android:name=".activity.UdeskChatActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.UdeskZoomImageActivty"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme" />
        <activity
            android:name=".activity.UdeskWebViewUrlAcivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme" />

        <activity
            android:name=".camera.UdeskCameraActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme" />
        <activity
            android:name=".activity.PictureVideoPlayActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme" />
        <activity
            android:name=".photoselect.PhotoSelectorActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme" />

        <activity
            android:name=".photoselect.PreviewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme" />

        <activity
            android:name=".photoselect.PictureVideoPlayActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_multimerchant_Theme" />

        <provider
            android:name=".provider.UdeskProvider"
            android:authorities="${applicationId}.udesk_multimerchant_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/udesk_multimerchant_provider_paths" />
        </provider>
    </application>

</manifest>
